{% extends 'base.html' %} {%block title%} Complaints {%endblock%} {%block
content%}
<h1 style="margin-top: 100px">Complaints page</h1>
<form action="{{url_for('complaint')}}" method="POST">
  <div class="form-group">
    <div class="col-sm-5">
      <label class="form-label">Enter the topic:</label>
      <input
        class="form-control col-md-10"
        name="topic"
        type="text"
        placeholder="Topic"
      />
    </div>
    <div class="col-sm-5">
      <label class="form-label">Describe your problem:</label
      ><textarea
        class="form-control col-md-10"
        name="desc"
        rows="4"
        placeholder="Detailed Description here ..."
      ></textarea>
    </div>
    <br />
    <input class="btn btn-success" type="submit" value="submit" />
    <input class="btn btn-danger" type="reset" value="clear" />
  </div>
  <br />
  <div>
    <a href="{{url_for('home')}}" class="btn btn-primary">< Back to Home</a>
  </div>
  <center>
    <div class="text-danger">
      The bank with which your last query was made will be used here
    </div>
  </center>
</form>
{%endblock%}
