{%extends 'base.html'%}
{%block title%}
HOME | Customer Care Registry
{%endblock%}
{%block content%}
<center>
    <div class="container">
        <h1>Welcome to Customer Care Registry</h1>
        <br><br><br><br><br><br>
        <h2>Customer service is the support that organizations offer to customers
            before and after purchasing a product or service. In customer service,
            the organization's representative values both potential and existing customers equally.
            Customer service representatives are the main line of contact between an
            organization and its customers, making CX a
            critical facet and the main priority of customer service teams</h2>
    </div>
</center>


{%endblock%}